@use "../../colors" as *;

.frames {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  .timer-slider {
    width: 1px;
    top: 0;
    bottom: 0;
    left: 8px;
    position: absolute;
    background-color: $accent_color;
    pointer-events: none;
    z-index: 2;

    &::before {
      content: "";
      border-top: 5px solid $accent_color;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      display: block;
      margin-left: -4.5px;
    }

    &.ghost {
      &::before {
        border-top: 5px solid $white_overlay_50;
        margin-top: -5px;
      }
      z-index: 1;
      top: 5px;
      background-color: $white_overlay_50;
    }
  }

  .timer {
    display: flex;
    box-sizing: border-box;
    height: 30px;
    border-bottom: 3px solid $black;

    span {
      color: $text_color;
      font-size: 0.8em;
      flex-basis: 15px;
      width: 15px;
      user-select: none;
      line-height: 30px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      &:before {
        content: "";
        height: 5px;
        width: 1px;
        background-color: $white_overlay_10;
      }

      &.numbered {
        i {
          height: 25px;
          margin-left: 8px;
        }
        &::before {
          background-color: $white_overlay_30;
          height: 7px;
          flex-shrink: 0;
        }
      }
    }
  }

  .keyframes {
    display: flex;
    box-sizing: border-box;
    height: 100%;

    span {
      color: $text_color;
      font-size: 0.8em;
      flex-basis: 15px;
      width: 15px;
      display: flex;
      justify-content: center;

      &:before {
        content: "";
        height: 100%;
        width: 1px;
        background-color: $white_overlay_10;
        display: inline-block;
      }

      &.bold-line::before {
        background-color: $white_overlay_30;
      }
    }
  }
}
