@use "../../colors" as *;

.animation-config {
  width: 300px;
  background-color: $black_overlay_50;
  border-right: 3px solid $black;
  border-top: 3px solid $black;
  box-sizing: border-box;
  div {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: flex-start;
    color: $white;

    label {
      flex-basis: 70px;
      width: 70px;
      flex-grow: 1;
    }

    input[type="range"],
    textarea {
      flex-grow: 2;
    }

    input[type="number"] {
      flex-basis: 40px;
      width: 40px;
    }
  }
}
