@use "../../colors" as *;

.output {
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: animotion;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-delay: 0s;
  background-color: $accent_color;
  transition: width 200ms linear, height 200ms linear;
}
