@use "../../colors" as *;

.output {
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: animotion;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-delay: 0s;
  width: 200px;
  height: 200px;
  background-color: $accent_color;
}
