.output {
  animation-direction: alternate;
  animation-duration: 100s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: animotion;
  animation-play-state: paused;
  animation-timing-function: linear;
}
