@use "../../colors" as *;

.timeline {
  width: 100%;
  height: 30vh;
  min-height: 200px;
  background-color: $primary_color;
  background-color: $black_overlay_50;
  .resizer {
    width: 100%;
    height: 3px;
    cursor: ns-resize;
    background-color: $black;
  }
}
