//Colors
$primary_color: #222831;
$secondary_color: #393e46;
$accent_color: #00adb5;
$text_color: #eeeeee;
$black_overlay_50: rgba(0, 0, 0, 0.5);
$white_overlay_50: rgba(255, 255, 255, 0.5);
$white_overlay_80: rgba(255, 255, 255, 0.8);
$white_overlay_30: rgba(255, 255, 255, 0.3);
$white_overlay_10: rgba(255, 255, 255, 0.1);
$black: #000;
$white: #fff;
