//Colors
$primary_color: #222831;
$secondary_color: #393e46;
$accent_color: #00adb5;
$text_color: #eeeeee;
$black_overlay_50: rgba(0, 0, 0, 0.5);
$black_overlay_30: rgba(0, 0, 0, 0.3);
$white_overlay_50: rgba(255, 255, 255, 0.5);
$white_overlay_80: rgba(255, 255, 255, 0.8);
$white_overlay_30: rgba(255, 255, 255, 0.3);
$white_overlay_10: rgba(255, 255, 255, 0.1);
$black: #000;
$white: #fff;
$time_lines: #595b5e;

@mixin gDarkToLight {
  background: #ffffff;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ffffff 0%,
    #ffffff 18%,
    #686363 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffffff 0%,
    #ffffff 18%,
    #686363 100%
  );
  background: radial-gradient(
    ellipse at center,
    #ffffff 0%,
    #ffffff 18%,
    #686363 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#686363',GradientType=1 );
}
